body{
    margin: 0;
    padding: 0;
    background: white;
}
.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    width: 300px;
    height:33px;
    border-radius: 40px;
    padding: 10px;
    background-color: orangered;
}
.search-btn{
    color: orange;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: orangered;
    display:flex;
    justify-content: center;
    align-items: center;
}
.search-txt{
    border: none;
    background-color: white;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    width: 260;
    height: 35;
}